.tilesimg{
  padding: 8px;
  border: none;
  text-align: center;

}

.tiles {
  /* padding: 12px;
  margin: 20px 20px;
  border: 1px solid;
  background-color: white;
  height: 200px;
  width: 200px; */


  background: #fff;
  border-radius: 1rem;
  margin-top: 10px;
  margin: 10px;
  margin-right: 18px;
  margin-bottom: 10px;
  position: relative;
  width: 227px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}