.tilesimg{
  padding: 8px;
  border: none;
  text-align: center;
  display: flex;
  flex: 4 3 auto;
  width: 75%;
}

.tiles {
  /* padding: 12px;
  margin: 20px 20px;
  border: 1px solid;
  background-color: white;
  height: 200px;
  width: 200px; */
  font-size: 2em;
  display: flex;
  /* justify-content: center; */
  flex: 4 3 auto;
  align-items: center;
  background: #fff;
  border-radius: 1rem;
  /* margin-top: 10px; */
  margin: 5px;
  margin-bottom: 10px;
  /* margin-right: 18px;
  margin-bottom: 10px; */
  width: 75%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

/* @media only screen and (max-width: 990px) {
  .tiles {margin-right: 50px;}
} */
