.tilesimg{
  padding: 10px;
  border: none;
  text-align: center;

}

.tiles {
  /* padding: 12px;
  margin: 20px 20px;
  border: 1px solid;
  background-color: white;
  height: 200px;
  width: 200px; */


  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}